@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto:wght@100;700&display=swap');

:root {
    --colorTitle: #183207;
    --colorSubtitle: #060640;
    --colorParagrah: #9090A7;

    --sizeTitle: 3rem;
    --sizeTitleR: 2.2rem;
    --sizeSubtitle: 1.2rem;
    --sizeParagrah: 1rem;

    --fontTitle: Roboto;
    --fontOther: Montserrat;
}


/*SECCION3: CÓMO FUNCIONA */
.section3{
    margin: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4-tittle, 
.section3-title{
    text-align: center;
    font-family: var(--fontTitle);
    font-size: var(--sizeTitle);
    color: var(--colorTitle);
    font-weight: 700;
}

.section3-content{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: min(100%, 1000px);
}


.section3-item-title{
    font-family: var(--fontTitle);
    font-size: var(--sizeSubtitle);
    color: var(--colorSubtitle);
    font-weight: 500;
}


.section3-item-text{
    font-family: var(--fontOther);
    font-size: var(--sizeParagrah);
    color: var(--colorParagrah);
    font-weight: 400;
}


.section3-item-image{
    margin: 0;
}

.section3-item-image img{
    width: max(100%, 100px);
}



/*SECCION4: HISTORIAS DE EXITO*/
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ffff, #DEECBB);
    width: 100%;
}

.section4-information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin: 0 2rem;
    width: min(100%, 1000px);
}

.section4-card {
    width: min(100%,325px);
    border-radius: 5px;
    margin: 10px;

    box-shadow: 0px 5px rgba(187, 138, 138, 0.1);
    text-align: center;
    background-color: white;

    display: flex;
    flex-direction: column;
}


.section4-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}


.section4-card h2 {
    font-size: 24px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
    margin: 10px 0;
}


.section4-card a {
    display: block;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: background 0.3s;
}

.section4-card a:hover {
    background: #0056b3;
}



.section4-card-margin{
    margin-right: 10px;
    margin-left: 10px;
}

.section4-card-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section4-card-perfil-foto{
    max-width: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

.section4-card-perfil-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--fontOther);
    font-size: var(--sizeParagrah);
    font-weight: 700;
}

.section4-card-perfil-text-time{
    font-weight: 100;
    text-align: left;
}

.section4-card-perfil-text-name{
    margin: 0;
    height: 15px;
    color: #35C844;
}


.section4-card-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #E77C40;
    font-weight: bold;
}


.section4-card-text {
    text-align: left;
    margin: 20px;
    font-family: var(--fontOther);
    font-size: var(--sizeParagrah);
    color: var(--colorParagrah);
    font-weight: 400;
}


.section4-card-rating-text{
    font-family: var(--fontOther);
}


.section4-card-rating-stars {
    font-size: 24px;
    color: #E77C40;
}

.section4-card-rating-stars2 {
    font-size: 24px;
    color: #ffb100;
}


.section4-rating-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontOther);
    font-size: var(--sizeParagrah);
    color: var(--colorSubtitle);
    font-weight: 700;
}

/*SECCION2*/
.container {
    /* padding: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background: linear-gradient(#D9E6BE, white);

}
.header {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.header h1 {
    color: var(--colorTitle);
    font-size: var(--sizeTitle);
}
.content {
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    flex: 2;
    height: 400px;
}

.vertical-image {
    grid-row: span 2;
    overflow: hidden;
    display: flex;
    flex: 1;
}



.horizontal-image {
    overflow: hidden;
    border: 0.25px solid #aaa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 56.25%; /* Aspect ratio de 16:9 */
    position: relative;
    translate: -80%;
}

.horizontal-image:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
}

.horizontal-image:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
}

.horizontal-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.right-section {
    flex: 1;
    translate: -20%;
}
.welcome-text {
    font-family: 'Monda', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #162C0E;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
ul li .material-icons {
    margin-right: 10px;
    color: #859270;
    font-size: 48px;
}






@media (max-width: 700px) {
    /*SECCION2*/
    .content {
        flex-direction: column;  /* Cambiamos la disposición de .content a columna */
    }
    
    .left-section {
        display: flex;           /* Cambiamos a flexbox */
        flex-direction: column;  /* Los elementos se apilarán verticalmente */
        gap: 20px;               /* Espacio entre las imágenes */
        height: auto;            /* Removemos la altura fija */
        order: 2;
        padding: 32px;
    }

    .right-section {
        padding: 32px;
        translate: 0%;
    }

    .horizontal-image {
        translate: 0%;
    }

    .right-section {
        order: 1;
    }

    .horizontal-image:nth-of-type(1), .horizontal-image:nth-of-type(2) {
        grid-column: auto;
        grid-row: auto;
    }

    /*SECCION4: HISTORIA DE EXITO */
    .section4-information{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    /*SECCION2*/
    .header h1 {
        font-size: 1.8em;  /* Disminuimos el tamaño de la fuente del título */
    }

    .right-section {
        padding: 0px 32px;
        translate: 0%;
    }

    .welcome-text {
        font-size: 20px;  /* Disminuimos el tamaño de la fuente del texto de bienvenida */
    }

    ul li {
        font-size: 18px;  /* Disminuimos el tamaño de la fuente de la lista */
    }

    ul li .material-icons {
        font-size: 36px;  /* Disminuimos el tamaño del ícono */
    }


    /*SECCION3: CÓMO FUNCIONA */
    .section3-title{
        font-size: var(--sizeTitleR);
        margin-bottom: 4rem;
    }
    
    .section3-content{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: min(100%, 1000px);
    }

    .section3-item-title{
        margin: 0;
    }
}